{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_todo/content

    My ToDo list block content template.

    Renders a list of todo items.

    See block_todo/content for data structure.
}}
<div class="list-wrapper" data-hidedone="{{hidedone}}">
    <ul class="list-group unstyled todogroup mb-3">
        {{#pinned}}
            {{>block_todo/pin}}
        {{/pinned}}
    </ul>
    {{#items}}
        <div data-duedategroup="{{duedate}}">
            {{#duedateformatted}}
                <div class="h6">
                    <span class="mr-1">
                        {{#today}}<i class="fa fa-circle text-primary" title="{{#str}}today, block_todo{{/str}}"></i>{{/today}}
                        {{#overdue}}<i class="fa fa-circle text-danger" title="{{#str}}overdue, block_todo{{/str}}"></i>{{/overdue}}
                    </span>
                    {{duedateformatted}}
                </div>
            {{/duedateformatted}}
            <ul class="list-group unstyled todogroup mb-3">
                {{#nesteditems}}
                    {{>block_todo/item}}
                {{/nesteditems}}
            </ul>
        </div>
    {{/items}}
</div>
