{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_todo/pin

    ToDo pin template.

    Renders a single todo item that is pinned.

    See block_todo/content for data structure.
}}

<li class="list-group-item d-flex {{#done}}text-muted muted{{/done}} border-warning" style="background-color:#fff3e1" data-item="{{id}}" data-done="{{done}}" data-text="{{todotext}}" data-duedate="{{duedate}}">
    <div class="h5 mr-1 mb-0" data-control="toggle" role="button" title="{{#str}} toggle, block_todo {{/str}}" aria-label="{{#str}} toggle, block_todo {{/str}}">
        {{#done}}<i class="icon fa fa-check-square" aria-hidden="true"></i>{{/done}}
        {{^done}}<i class="icon fa fa-square-o" aria-hidden="true"></i>{{/done}}
    </div>
    <div class="mr-auto">
        <div class="d-none badge badge-secondary {{#overdue}}badge-danger{{/overdue}} {{#today}}badge-success{{/today}}">{{duedateformatted}}</div>
        <div class="d-inline-block">
            {{#duedateformatted}}
                <div style="font-size:12px;" class="font-weight-bold">
                    {{#today}}<i class="fa fa-circle text-primary mr-2" title="{{#str}}today, block_todo{{/str}}"></i>{{/today}}
                    {{#overdue}}<i class="fa fa-circle text-danger mr-2" title="{{#str}}overdue, block_todo{{/str}}"></i>{{/overdue}}
                    {{duedateformatted}}
                </div>
            {{/duedateformatted}}
            {{todotext}}
        </div>
    </div>
    <div data-control="actions">
        {{#actions}}{{> core/action_menu}}{{/actions}}
    </div>
</li>
